.navbar-brand img {
    width: 30px; 
    margin-right: 10px;
<<<<<<< HEAD
}
.table-wrapper {
    margin: 40px 0; /* Adjust spacing above and below */
=======
>>>>>>> 15bdd60958771b41c037d475c5e66cbe487b558e
}